$primaryColor: #4527a4;

.wp-block-b-blocks-test-purpose {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
		// color: white;
	}


	*,::after,::before

	ul
{
	padding-left:2rem
}
	ul
{
	margin-top:0;
	margin-bottom:1rem
}
.container-fluid
{
	--bs-gutter-x:1.5rem;
	--bs-gutter-y:0;
	width:100%;
	// padding-right:calc(var(--bs-gutter-x) * .5);
	// padding-left:calc(var(--bs-gutter-x) * .5);
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right:auto;
	margin-left:auto
}
.row
{
	--bs-gutter-x:1.5rem;
	--bs-gutter-y:0;
	display:flex;
	flex-wrap:wrap;
	margin-top:calc(-1 * var(--bs-gutter-y));
	margin-right:calc(-.5 * var(--bs-gutter-x));
	margin-left:calc(-.5 * var(--bs-gutter-x))
}
.row>*
{
	flex-shrink:0;
	width:100%;
	max-width:100%;
	padding-right:calc(var(--bs-gutter-x) * .5);
	padding-left:calc(var(--bs-gutter-x) * .5);
	margin-top:var(--bs-gutter-y)
}

.col-12
{
	flex:0 0 auto;
	width:100%
}
.d-inline-block
{
	display:inline-block!important
}
.d-block
{
	display:block!important
}
.d-inline-flex
{
	display:inline-flex!important
}
.flex-shrink-0
{
	flex-shrink:0!important
}
.align-items-center
{
	align-items:center!important
}
.mb-4
{
	margin-block-end:1rem!important
}
.px-6
{
	padding-inline:1.5rem!important
}
.py-3
{
	padding-block:.75rem!important
}
.gap-2
{
	gap:.5rem!important
}
.gap-4
{
	gap:1rem!important
}
.fw-medium
{
	font-weight:500!important
}
// text color
// .text-light
// {
// 	--bs-text-opacity:1;
// 	color:rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important
// }
// background color
// .bg-light
// {
// 	--bs-bg-opacity:1;
// 	background-color:rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important
// }
// .bg-dark
// {
// 	--bs-bg-opacity:1;
// 	background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important
// }
// .rounded-3
// {
// 	border-radius:var(--bs-border-radius-lg)!important
// }
	.bi::before,[class*=" bi-"]::before
// {
// 	display:inline-block;
// 	font-family:bootstrap-icons!important;
// 	font-style:normal;
// 	font-weight:normal!important;
// 	font-variant:normal;
// 	text-transform:none;
// 	line-height:1;
// 	vertical-align:-0.125em;
// 	-webkit-font-smoothing:antialiased;
// 	-moz-osx-font-smoothing:grayscale
// }
// .bi-camera-reels::before
// {
// 	content:"\f21b"
// }
// .bi-cart3::before
// {
// 	content:"\f244"
// }
// .bi-facebook::before
// {
// 	content:"\f344"
// }
// .bi-image::before
// {
// 	content:"\f42a"
// }
// .bi-coin::before
// {
// 	content:"\f634"
// }
// .bi-graph-up-arrow::before
// {
// 	content:"\f673"
// }
// .bi-quote::before
// {
// 	content:"\f6b0"
// }
// .blend-x
.container {
	// background: black;
	-webkit-mask: linear-gradient(
	  90deg,
	  transparent,
	  rgba(255, 255, 255, 1) 20%,
	  rgba(255, 255, 255, 1) 80%,
	  transparent
	);
	mask: linear-gradient(
	  90deg,
	  transparent,
	  rgba(255, 255, 255, 1) 0%,
	  rgba(255, 255, 255, 1) 100%,
	  transparent
	);
  }
.ticker-list
{
	--direction:column;
	display:flex;
	flex-direction:row;
	margin:0;
	padding:0;
	list-style:none;
	
}
.list-row
{
	--direction:row
}
.scroller-x
{
	overflow:hidden
}
.scroller-x[data-direction=right]
{
	--_animation-direction:reverse
}
.scroller-x[data-speed=slow]
{
	--_animation-duration:60s
}
.scroller-x__list
{
	width:-moz-max-content;
	width:max-content;
	flex-wrap:nowrap;
	animation:scroll var(--_animation-duration,60s) var(--_animation-direction,forwards) linear infinite
}

.scroller-x__list>li
{
	flex-shrink:0
}
.section-space-xsm-y
{
	padding-block-start:clamp(1rem,1.68vw + 1rem,2rem);
	padding-block-end:clamp(1rem,1.68vw + 1rem,2rem)
}
.section-space-top
{
	padding-block-start:clamp(3.75rem,6.5vw + 1rem,7.5rem)
}
.section-space-xsm-bottom
{
	padding-block-end:clamp(1rem,1.68vw + 1rem,2rem)
}
.container-max
{
	margin-inline:auto
}
.container{
	background-color: rgb(3, 3, 3);
}

.tricker{
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	
	
}

.add-ticker-btn {
	width: 100%; 
	padding: 1rem 2rem; 
	font-size: 1.125rem; 
	font-weight: 600;
	text-align: center; 
	color: white; 
	background: linear-gradient(90deg, #4c6ef5,  #4c6ef5); 
	border: none; 
	border-radius: 0.75rem; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  
  .add-ticker-btn:hover {
	background: linear-gradient(90deg, #3a53d9, #3a53d9);
	
  }
  
  .add-ticker-btn:focus {
	outline: none; 
	// box-shadow: 0 0 0 2px #7b45a4; 
  }
  
  
	@media (min-width:1600px)
{
.container-max
{
	max-width:97rem
}

}
	@media (min-width:1800px)
{
.container-max
{
	max-width:109.5rem
}

}
	@media (min-width:2100px)
{
.container-max
{
	max-width:128.25rem
}

}
	@media (min-width:2500px)
{
.container-max
{
	max-width:153.25rem
}

}
.bg-opacity-5
{
	--bs-bg-opacity:0.05
}
.text-opacity-70
{
	--bs-text-opacity:0.7
}
	@keyframes scroll
{
	to
{
	transform:translate(calc(-50% - .5rem))
}

}

}
